.benefits {
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: $screen-xl) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {
    //gap: 24px 0;
    gap: 32px 0;

    /*@media (min-width: $screen-xl) {
    }*/
  }

  &__col {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(sm, 6);
    @include col(lg, 4);
    @include col(xl, 3, $grid-columns, 32px);
  }
}
