.gallery {
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: $screen-xl) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 24px 0;
    justify-content: center;
  }

  &__col {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(sm, 6, $grid-columns, 16px);
    @include col(md, 4);
    @include col(xl, 3, $grid-columns, 32px);
  }

  &__item {
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: none;

      img {
        scale: (1.1);
      }
    }

    .embed-responsive {
      border-radius: $border-radius--lg;
      background-color: $gray-100;

      &::after {
        content: "";
        position: absolute;
        bottom: 12px;
        right: 12px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $body-bg;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        background-image: svg-load('../blocks/sprite-svg/svg/plus.svg', fill=$main-color);
      }

      img {
        object-fit: cover;
        object-position: center;
        transition: scale $transition-time ease;
      }
    }

    .subtitle {
      display: block;
      text-align: center;
    }
  }
}
