.article {
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: $screen-xl) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  $block-name:                &; // #{$block-name}__element

  h2 {
    margin-top: 40px;
  }

  li {

    a {
      color: currentColor;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}
