.solutions {
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: $screen-xl) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  $block-name:                &; // #{$block-name}__element

  &__content {

  }

  &__item {

    & + & {
      margin-top: 32px;

      @media (min-width: $screen-md) {
        margin-top: 48px;
      }
    }

    &:nth-child(even) {

      #{$block-name}__row-item {

        @media (min-width: $screen-md) {
          flex-direction: row-reverse;
        }
      }

      #{$block-name}__col-item-img {

        @media (min-width: $screen-md) {
          @include col-offset(md, 1);
        }
      }

      #{$block-name}__col-item-text {

        @media (min-width: $screen-md) {
          @include col-offset(md, 0);
        }
      }
    }
  }

  &__row-item {
    gap: 16px 0;
  }

  &__col-item-img {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 5);
  }

  &__col-item-text {
    @include col(xs, 12, $grid-columns, 16px);
    @include col-offset(md, 1);
    @include col(md, 6);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item-img {
    border-radius: $border-radius--lg;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__item-title {
    margin: 0;
  }
}
