.gallery-modal {

  $block-name:                &; // #{$block-name}__element

  &__row {

  }

  &__content {

    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      height: 100%;
      overflow: hidden;
    }
  }

  &__img-container {
    flex: 0 0 auto;

    // @media (min-width: $screen-md) {
    //   width: 280px;
    // }

    @media (min-width: 1200px) {
      width: 384px;
      height: 100%;
    }
  }

  &__text-container {
    flex: 1 1 auto;
    //overflow-y: auto;

    @media (min-width: 1200px) {
     height: 600px;
     overflow-y: auto;
    }
  }

  &__img {
    width: 100%;
    max-width: 384px;
    margin: 0 auto;
    border-radius: $border-radius--lg;

    //@media (min-width: $screen-md) {
      //width: 280px;
    //}

    // @media (min-width: 1200px) {
    //   width: 352px;
    // }
  }

  &__slide {
    height: auto;
  }

  .swiper-wrapper {

    @media (min-width: 1200px) {
      height: auto;
    }
  }

  .swiper__controls {
    margin: 24px 0;

    @media (min-width: 1200px) {
      margin: 24px 0 0;
    }
  }

  .modal-dialog.modal-dialog-centered {
    height: calc(100svh - var(--bs-modal-margin) * 2);
  }

  .modal-content {
    //max-height: 100%;
    //overflow: hidden;
  }

  .modal-header {

    &--gallery {
      padding: 0;
      position: relative;
      z-index: 2;

      .btn.btn--icon {
        position: absolute;
        top: 0;
        right: 0;
        //z-index: 1;
        //cursor: pointer;
        border: none;
        border-radius: $border-radius;
        color: $main-color;
        background-color: rgba($white, 1);

        &:hover,
        &:focus {
          color: $color-danger;
          background-color: rgba($white, 1);
        }
      }
    }
  }
}
