.tel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  color: $white;
  background-color: $main-color;
  border-radius: 50%;
  box-shadow: 0 3px 8px 0 rgba($black, 0.25);
  user-select: none;
  pointer-events: auto;
  transition: all $transition-time;

  $block-name:                &; // #{$block-name}__element

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $blue-500;
  }

  &__wrapper {
    position: fixed;
    bottom: 48px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;

    @media (min-width: $screen-xl) {
      bottom: 56px;
    }
  }
}
